

#header{
	text-align:right;
	margin-bottom:20px;
}

#achievementBox{
	border-right: 1px solid gray;
	height:400px;	
}

#achievementPictureDiv{
	border-right: 1px solid;
}

.achievementPicture{
	margin-left:40px;
}

.achievementTitle{
 margin-bottom:5px;
}

.achievementDescription{
	height:80px;
	margin-top:5px;
}

.achievementUnlockedBy{
	border-top: solid 1px;
	margin-top:20px;
	color:gray;
	padding:5px;
}

#achievementNextStep{
    padding: 10px;
	width:100%;
	color:#1c1cf7;
	font-weight:bold;
}

.nextStep{
	padding:10px;
	color:#333333;
}

.profileBox{

}

.profilePicture{
    width:70px;
	background-color:#1c1cf7;
	margin:10px;
}

.divProfilePicture{
	width:90px;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	-moz-box-shadow: 3px 3px 5px #888;
	-webkit-box-shadow: 3px 3px 5px #888;
	border-color:#000000;
	background-color:#ffffff;
	border-width:1px;
	border-style:solid;
	margin:15px;
}

.profileName{
	margin-top:35px;
	text-align:left;
	color:#1c1cf7;
	font-weight:bold;
}

.profileTime{
	text-align:left;
	font-color: gray;
	margin:10px;
}

#scoreNumber{
	color:red;
	margin-top:3px;
	margin-left:60px;	
}