#player_name {
	font-size: 25px;
	font-weight:bold;
	padding-bottom: 10px;
}
#arthur_name {
	font-size: 25px;
	font-weight:bold;
	padding-bottom: 10px;
	color: #E066FF;
}

#progressbar_outer{
	border: 1px solid #ccc; 
	width: 200px; 
	background: white;
}

#progressbar_inner{
	height: 30px;
	background-color: #66CCFF;
}

.levels { 
	position: relative;
	left: 80px;
	top: 3px;
	font-size: 20px;
	font-weight: bold;

}

.shares{
	font-size: 12px;
	padding: 0 50px;
	border-right: 1px solid #ccc;
	text-align:center;
}
.numbers{
	font-size: 25px;
}

.feed_item{
  padding: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.feed_item_name{
	font-weight: bold;
}
.feed_item_link{
  font-size: 12px;
}

.feed_item_time{
color: #808080;
font-size:13px;
}

.feed_item img{
  float: left;
  margin-right: 15px;
}

#feed{
margin-top: 30px;
padding-left: 10px;
}

#achievementTitle{
margin-bottom: 20px;
}
