<div class="row">
	<div class="column grid_12">
		<h2>New to Mekaniko?</h2>
		<p>Click below to connect with Twitter and get started.</p>
		<br />
		<%= link_to image_tag("sign-in-with-twitter-l.png", :class => "twitterconnect" ), dashboard_index_path, :title=>"Click here to connect with Twitter" %>
	</div>
</div>