<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> <html>
<head>
<title>Mekaniko - start me up</title>
<link rel="stylesheet" type="text/css" href="stylesheets/default.css">
<link type="text/css" rel="stylesheet" href="/stylesheets/awesome.css" media="all" />
<link type="text/css" rel="stylesheet" href="/stylesheets/start.css" media="all" />

<script type="text/javascript" src="http://use.typekit.com/flx7kua.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="row">
	<div class="column grid_6">
		<h1 class="header_title"><a href="/dashboard">mekaniko</a></h1>
	</div>
	<div class="column grid_6">
		<ul id="nav">
			<li><a href="/dashboard">Home</a></li>
			<li>|</li>
			<li><a href="/profile">My Profile</a></li>
			<li>|</li>
			<li><a href="/leaderboard">Leaderboard</a></li>
			<li>|</li>
			<li><a href="#">logout</a></li>
		</ul>
	</div>
</div>
<div id="content">
	<div class="row">
		<div class="column grid_5 separation">
			<h2>Played before?</h2>
<p>Just login below and earn those points!</p>
			<p><form class="login">
				<input type="text" name="username" value="Twitter Username" class="inputbox"><br />
				<input type="text" name="password" value="Twitter password" class="inputbox"><br />
				<button style="" href="#">Login</button>
			</form></p>
		</div>
		<div class="column grid_6">
			<h2>New to Mekaniko?</h2>
			<p>Click below to connect with Twitter and get started.</p>
			<br />
			<a href="#" id="twitterlink" title="Click here to connect with Twitter">
				<img id="twitterconnect" src="images/twitter-light.png" alt="Click here to connect with Twitter" />
			</a>
		</div>
	</div>

</div>
</body>
</html>
