
	<div class="row">
		<div class="column grid_12">
			<h2>New to Mekaniko?</h2>
			<p>Click below to connect with Twitter and get started.</p>
			<br />
			<a href="#" id="twitterlink" title="Click here to connect with Twitter">
				<img id="twitterconnect" src="images/twitter-light.png" alt="Click here to connect with Twitter" />
			</a>
		</div>
	</div>